.prfec-ai-component{
  display: flex;
  min-height: 100vh;
}


/* .prfec-chat-dashboard-desktop{
  padding-top: 48px;
} */
@media only screen and (max-width:800px){
  .prfec-ai-component{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
  }
  .prfec-chat-dashboard-desktop{
    display: none;
  }

  .prfec-chat-dashboard-menu-icon{
    font-size: 24px;
    color:var(--black-white);
  }
}

.prfec-chat{
  /* flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  overflow-y: auto; */
  flex-grow: 1;
    height: 100%;
    position: relative;
    padding: 24px;
    padding-bottom: 0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow-y: auto; */
}
.prfec-chat-container{
  width: 100%;
  padding-top: 80px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.prfec-chat-msg-container {
  width: 79%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100vh;
    height: auto;

}

.tc-msgs {
  padding: 4px 13px;
  border-radius: 12px;
  font-family: var(--h-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 100%;
  align-self: flex-start; 
}

.tc-msgs.user {
  align-self: flex-end; 
  background-color: var(--user-chat);
  width: max-content;
  max-width: 75%;
}

.tc-msgs.bot {
  width: 85%;
  align-self: flex-start; 
  background-color: var(--bot-background); 
  padding: 0px;
  border: 0px;
}
.tc-msgs-events{
display: flex;
gap:0.5rem;
align-items: center;
padding-top: 4px;
padding-bottom: 12px;
}
.tc-msgs-events img{
  cursor: pointer;
}
.tc-msgs h1,.tc-msgs h2,
.tc-msgs h3,.tc-msgs h4,
.tc-msgs h5{
  font-size: 20px;
  font-family: var(--h-font);
  color: var(--h-color);
  font-weight: 600;
  line-height: 140%;
}
.tc-msgs p{
  font-size: 16px;
  font-family: var(--h-font);
  color: var(--p-color);
  font-weight: 400;
  line-height: 160%;
  margin: 0.5rem 0px;
}
.tc-msgs p strong{
  font-size: 16px;
  font-family: var(--h-font);
  color: var(--h-color);
  font-weight: 600;
  line-height: 140%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.tc-msgs ul, .tc-msgs ol{
  padding-left: 1.25rem;
}
.tc-msgs li{
  margin: 0.5rem 0rem;
  font-size: 16px;
  font-family: var(--h-font);
  color: var(--p-color);
  font-weight: 400;
  line-height: 140%;
}
.tc-msgs li strong{
  font-size: 16px;
  font-family: var(--h-font);
  color: var(--h-color);
  font-weight: 500;
  line-height: 140%;
}
code{
  color: var(--p-color);
}
.prfec-chat-prompt{
  width: 100%; 
  position: sticky; 
  bottom: 0;
  background-color: var(--chat-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
}
.chat-input-upgrade-close{
  position: absolute;
  right: 12px;
}
.prfec-chat-prompt-input{
  width: 80%;
  display: flex;
  align-items: center;
  border: 1px solid var(--chat-border);
  border-radius: 12px;
  background-color: var(--chat-bg);

}
.prfec-chat-prompt-input input{
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 16px;
  background-color: var(--chat-bg);
  font-size: 16px;
  font-family: var(--h-font);
  font-weight: 400;
  color: var(--p-color);
}
.prfec-chat-prompt-input input:focus{
  outline: none;
}
.prfec-chat-send-btn{
  width: 36px;
  height: 34px;
  border-radius: 32%;
  background-color: var(--chat-button-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.prfec-chat-send-btn.change{
  background-color: var(--chat-button-hover-bg);
}
.prfec-chat-prompt-input button{
  padding: 14px 42px;
  height: auto;
  border: none;
  border-radius: 16px;
  background-color: var(--h-color);
  font-size: 16px;
  font-family: var(--h-font);
  font-weight: 300;
  color: var(--chat-bg);
}
.prfec-chat-input-generate-button{
  height: 100%;
  padding: 15px 20px;
  background-color: var(--prfec-clr);
  border-radius: 13px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 14px;
  font-family: var(--h-font);
  font-weight: 400;
  color: var(--prfec-white);
}


@media only screen and (max-width:1300px){
  .prfec-chat-prompt-input,.chat-input-upgrade{
    width: 80%;
  }
  .prfec-chat-msg-container{
    width: 79%;
  }
}
@media only screen and (max-width:1100px){
  .prfec-chat-prompt-input,.chat-input-upgrade{
    width: 90%;
  }
  .prfec-chat-msg-container{
    width: 89%;
  }
}
@media only screen and (max-width:800px){
  
  .prfec-chat{
    flex-grow: 1;
    height: 100%;
    position: relative;
    padding: 24px;
    padding-bottom: 0px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow-y: initial;
    /* margin-left: 240px;  */
 
  }
  .prfec-chat-prompt{
    position: fixed;
  }
  .prfec-chat-msg-container{
    padding-bottom: 80px;
  }
}
@media only screen and (max-width:400px){
  
  .prfec-chat{
padding: 0px
 
  }
  .prfec-chat-msg-container{
    width: 95%;
    padding: 0.5rem;
    padding-bottom: 80px;
  }
}


/* @media only screen and (max-width: 800px) {
  .prfec-ai-component {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: auto;
  }

  .prfec-chat-dashboard-desktop {
      display: none;
  }

  .prfec-chat-dashboard-menu-icon {
      font-size: 24px;
      color: var(--black-white);
  }

  .prfec-chat {
      flex-grow: 1;
      position: relative;
      padding: 24px;
      padding-bottom: 0px;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      overflow-y: auto;
  }

  .prfec-chat-msg-container {
      width: 95%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      min-height: auto;
      padding: 0.5rem;
  }
}

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
} */